h2{
	color: #787878;
	font-weight: 400;
    font-family:sans-serif;
}

#profile-pic{
	height: 200px;
    width: 200px;
    float: left;
    margin-right: 10px;
    margin-top: 25px;
    border-color: black;
    border-width: 2px;
    border: solid;
    margin-left: 25%;
}

#contact-info ul{
	font-size: 15px;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

#contact-info h4{
	text-align: center;
	display: inline;
}

.highlight {
	background-color: red;
}

.contact-info-type{
	font-weight: bold;
}

.social a{
	margin-right: 2px;
}

.fa{
	color: grey;
	display: block;
}

.fa-facebook-official:hover{
	color: #4867AA;
}

.fa-google-plus-official:hover{
	color: #DC4E41;
}

.fa-linkedin:hover{
	color: #1D87BE;
}

.fa-quora{
	font-family: Arial; /* your font family here! */
    font-weight: bolder;	
}

.fa-quora:hover{
	color: #B92B27;
}

#publication-section, #project-section{
	float: left;
	clear: both;
	margin-top: 20px;
	font-size: 12px;
}

/*.glyphicon:hover{
	display: block;
}*/

#project-section{
	display: none;
}

#about-section{
	min-height: 275px;
	height:100%;
	font-style: inherit;
    font: message-box;
    text-align: justify;
}

.header-dark {
    color: rgba(255,255,255,0.75);
    background-color: #1e2327;
}
.img-circle {
	height:100px;
	width: 100px;
    border-radius: 50%;
}

#htname{
	display: block;
	font-family: 'Roboto', sans-serif;
    padding: 5px 8px;
    font-weight: 600;
    font-size: 46px;
    line-height: 50px;
    margin-top: 25px;
}
#timeline {
    font-size: 20px;
    font-weight: 300;
}
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #444;
}

@media (min-width: 768px)
.timelineitem:nth-child(odd) {
    margin-left: 50%;
    border-left: 5px solid #333;
    text-align: left;
}
@media (min-width: 768px)
.timelineitem {
    width: 50%;
    position: relative;
    padding: 0px 10px 0px 10px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}