
<!-- NAVBAR -->
	<nav class="navbar navbar-inverse header-dark">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="https://www.utdallas.edu/"> <img id ="utd-logo" alt="UTD logo" src="images/utd_logo.png"></a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li id="home-link" class="active"><a href="/~antriksh.agarwal1/">Home</a></li>
					<li id="about-link"><a href="#">Chat With Me</a></li>
					
				</ul>
			</div>
		</div>
	</nav>
